<!-- trip_list.html -->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Car Booking System</title>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <style>
        body {
            background-color:   #89CFF0; /* Change to your desired background color */
        }


        .custom-header-color {
            color: #FF0000;
            text-align: center;
            font-family: 'Arial', sans-serif;
        }

        .custom-table-border {
            border-color: #007BFF;
        }
    </style>
</head>
<body>
<div class="container my-2">
    <h1 class="custom-header-color">Car Booking System</h1>

    <!--     Filter Form -->
    <div class="row">
        <div class="col-md-4 mb-3">
            <form th:action="@{/AdminTrip}" method="GET">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Trip number or city" id="filterInput" name="search" th:value="${search}" />
                    <button type="submit" class="btn btn-primary">Filter</button>
                </div>
            </form>
        </div>
    </div>

    <table border="1" class = "table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>ID</th>
            <th>Trip Number</th>
            <th>Departure City</th>
            <th>Destination City</th>
            <th>Departure Time</th>
            <th>Arrival Time</th>
            <th>Available Seats</th>

            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="trip : ${tripList}">
            <td th:text="${trip.id}"></td>
            <td th:text="${trip.tripNumber}"></td>
            <td th:text="${trip.departureCity}"></td>
            <td th:text="${trip.destinationCity}"></td>
            <td th:text="${trip.departureTime}"></td>
            <td th:text="${trip.arrivalTime}"></td>
            <td th:text="${trip.availableSeats}"></td>
            <!-- Update and Delete Actions -->
            <td>
                <a th:href="@{/trips/update/{id}(id=${trip.id})}" class="btn btn-primary">Update</a>
                <a class="btn btn-danger" th:onclick="'showConfirmationModal('+${trip.id}+')'">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>

    <a th:href="@{AdminCustomer}" class="btn btn-info">Go To customer information</a>
    <button type="button" class="btn btn-info" onclick="goBack()">Back to home page</button>

</div>
</form>


</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<!-- JavaScript for Confirmation Modal-->
<script>
    function goBack() {
        window.history.back();
    }
</script>
<script type="text/javascript">
    function showConfirmationModal(id) {
        var confirmation = confirm("Are you sure you want to delete this trip?");
        if (confirmation) {
            window.location.href = "/trips/delete/" + id;
        }
    }
</script>
</body>